{% extends 'admin.html.twig' %}

{% block title %}SenareNovo - Add Blog{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title fw-semibold mb-4">Create a New Blog Post</h5>
      <form method="post" enctype="multipart/form-data" class="form-contact contact_form">
        <div class="mb-3">
          {{ form_label(formAddBlog.title, 'Title', {'label_attr': {'class': 'form-label'}}) }}
          {{ form_widget(formAddBlog.title, {'attr': {'class': 'form-control', 'placeholder': 'Enter Blog Title'}}) }}
          {{ form_errors(formAddBlog.title) }}
        </div>

        <div class="mb-3">
          {{ form_label(formAddBlog.content, 'Content', {'label_attr': {'class': 'form-label'}}) }}
          {{ form_widget(formAddBlog.content, {'attr': {'class': 'form-control', 'rows': '6', 'placeholder': 'Enter Blog Content'}}) }}
          {{ form_errors(formAddBlog.content) }}
        </div>

        <div class="mb-3">
          {{ form_label(formAddBlog.imageFile, 'Upload Image', {'label_attr': {'class': 'form-label'}}) }}
          {{ form_widget(formAddBlog.imageFile, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
          {{ form_label(formAddBlog.Category, 'Category', {'label_attr': {'class': 'form-label'}}) }}
          <div class="form-check">
            {% for child in formAddBlog.Category %}
              <div class="form-check">
                {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
                {{ form_label(child, null, {'label_attr': {'class': 'form-check-label'}}) }}
              </div>
            {% endfor %}
          </div>
          {{ form_errors(formAddBlog.Category) }}
        </div>

        <button type="submit" class="btn btn-primary">Save Blog</button>
      {{ form_end(formAddBlog) }}
      </form>
    </div>
  </div>
</div>
{% endblock %}
