{% extends 'admin.html.twig' %}

{% block title %} Noter le blog - {{ blog.title }} {% endblock %}

{% block body %}
<div class="container mt-5">
    <br><br><br><br><br>    
    <h2 class="mb-4 text-center">Noter le blog : <span class="text-primary">{{ blog.title }}</span></h2>


    <div class="rating-form card p-4 shadow-sm rounded">
            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_widget(form.score, {'attr': {'class': 'form-control', 'min': 1, 'max': 5}}) }}
                    {{ form_errors(form.score) }} 
                </div>
                <div class="form-group text-center">
                    <br><button type="submit" class="btn btn-success">Envoyer la note</button>
                </div>
            {{ form_end(form) }}
        </div>
<br>
    <a href="{{ path('blog_details', {'id': blog.id}) }}" class="btn btn-primary">Retour</a>
</div>
<br>
{% endblock %}
