{% extends 'rh.html.twig' %}

{% block title %}Modifier l'Offre{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Modifier l'Offre</h1>

        {{ form_start(form) }}
            <div class="mb-3">
                {{ form_label(form.titre, 'Titre de l\'offre') }}
                {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.description, 'Description') }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.datePublication, 'Date de publication') }}
                {{ form_widget(form.datePublication, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.dateExpiration, 'Date d\'expiration') }}
                {{ form_widget(form.dateExpiration, {'attr': {'class': 'form-control'}}) }}
            </div>

            <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
            <a href="{{ path('listOffre') }}" class="btn btn-secondary">Annuler</a>
        {{ form_end(form) }}
    </div>
{% endblock %}